#featureindex	value	label
#SSH labeled by DSCP field
44				7		      SSH
#Standard HTTPS port
1,3       443       HTTPS
#SMTPS
1,3       465       SSL
#NNTPS
1,3       563       SSL
#LDAPS
1,3       636       SSL
#FTPS-DATA
1,3       989       SSL
#FTPS
1,3       990       SSL
#TELNETS
1,3       992       SSL
#IMAPS
1,3       993       SSL
#IRCS
1,3       994       SSL
#POP3S
1,3       995       SSL
#SIPS
1,3       5061      SSL
